@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --main: #0a192f;
    --mainlight: #172a46;
    --white: #ccd6f6;
    --cyan: #91d6c7;
}

* {
    padding: 0;
    margin: 0;
}

#main {
    height: 100vh;
    width: 100%;
    background-image: url(/weather/images/Partlycloudy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    border: 1px solid var(--cyan);
    padding: 20px;
    width: 50vw;
    height: 80vh;
    background: rgba(19, 19, 30, 0.251)
        /*var(--mainlight)*/
    ;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 50px 15px rgba(9, 210, 210, 0.386);

}

.box_login {
    border: 1px solid var(--cyan);
    padding: 20px;
    width: 300px;
    height: 175px;
    background: rgba(19, 19, 30, 0.251)var(--mainlight);
    border-radius: 10px;
    font-size: 55px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow:
        /*var(--cyan)*/
        black 0px 0px 5px;
}

.inner_box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WeatherDetails {
    padding-top: 20px;
    font-size: 30px;
    height: 60%;
    width: 33%;
    background-color: #7fe0cb50;
    text-align: center;

}

.search_box {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 80vh;
    width: 22vw;
    background-color: rgba(19, 19, 30, 0.251);
    box-shadow: 0 0 50px 15px rgba(9, 210, 210, 0.386);
    border: 1px solid cyan;
    border-radius: 15px;
}

.login {
    border: 1px solid var(--cyan);
    padding: 20px;
    width: 300px;
    height: 175px;
    background: rgba(19, 19, 30, 0.251)
        /*var(--mainlight)*/
    ;
    border-radius: 10px;
}

.input {
    margin-top: 5px;
}

.textlabel {
    text-shadow: var(--cyan) 0px 0px 10px;
    text-align: start;
    font-size: 20px;
    color: var(--cyan);
}

.input {
    color: var(--cyan);
    background-color: rgba(19, 19, 30, 0.766);
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: var(--cyan) 0px 0px 20px;
    border: 1px solid #5ff0d0;
}

.input:focus {
    color: var(--cyan);
    outline: none;
    border: 1px solid var(--cyan);
}

.input:hover {
    box-shadow: var(--cyan) 0px 0px 20px;
    border: 1px solid var(--cyan)
}

.input :focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    font-size: 20px;
    color: var(--cyan);
    margin-top: 15px;
    background-color: rgba(19, 19, 30, 0.766);
    border: 1px solid var(--cyan);
    border-radius: 10px;
    width: 305px;
    height: 42px;
    text-shadow: var(--cyan) 0px 0px 20px;
    box-shadow: rgb(95, 240, 208, 15%) 0px 0px 50px;
}

.btn:hover {
    color: var(--main);
    background-color: var(--cyan);
    cursor: pointer;
    box-shadow: var(--cyan) 0px 0px 40px;
}